/PROYECTO_JAVA/AstreiaSoftDBManager/build/
/PROYECTO_JAVA/AstreiaSoftDBManager/dist/
/PROYECTO_JAVA/AstreiaSoftDBManager/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftGestAcadController/build/
/PROYECTO_JAVA/AstreiaSoftGestAcadController/dist/
/PROYECTO_JAVA/AstreiaSoftGestAcadController/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftGestAcadModel/build/
/PROYECTO_JAVA/AstreiaSoftGestAcadModel/dist/
/PROYECTO_JAVA/AstreiaSoftGestAcadModel/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftGestAdminController/build/
/PROYECTO_JAVA/AstreiaSoftGestAdminController/dist/
/PROYECTO_JAVA/AstreiaSoftGestAdminController/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftGestAdminModel/build/
/PROYECTO_JAVA/AstreiaSoftGestAdminModel/dist/
/PROYECTO_JAVA/AstreiaSoftGestAdminModel/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftServices/build/
/PROYECTO_JAVA/AstreiaSoftServices/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftWebServices/nbproject/private/
/PROYECTO_JAVA/AstreiaSoftWebServices/build/
